@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #121418;
  color: #161419;
  height: 100%;
}

.blog {
  display: grid;
  grid-template-columns: 15% auto;
  height: 100vh;
  background-color: #e9e6e4; /* White background */
}

.blog-part {
  background-color: #e9e6e4; /* Match the content background */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #94918f; /* Black divider line */
}


.blog-part a {
    font-size: 22px;
    text-decoration: none;
    color: #161419;
    display: flex;
    letter-spacing: -0.5px;
    align-items: center;
    gap: 5px;
}

.blog-part a svg {
    width: 22px;
    margin-left: 4px;
  }
  
.blog-part svg {
    width: 22px;
    margin-left: 4px;
  }
.blog-part a:hover {
  text-decoration: underline;
}

.content-area {
  padding: 20px;
  overflow-y: auto;
}

.blog-header {
  margin-bottom: 20px;
  border-bottom: 2px solid #94918f; /* Black divider for header */
  padding-bottom: 10px;
}

.blog-big__title {
    font-size: 100px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    letter-spacing: -5px;
    line-height: 1;
    margin-bottom: 6px;
  }

.blog-header .date {
  font-size: 22px;
  text-decoration: none;
  color: #161419;
  display: flex;
  letter-spacing: -0.5px;
  align-items: center;
}

.blog-article {
  margin-bottom: 20px;
  padding: 15px;
  border-bottom: 1px solid #94918f; /* Black divider for articles */
}

.blog-article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.blog-article h2 {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
    margin: 8px 0 8px;
  }

  .blog-article h2:hover {
    text-decoration: underline;

  }

.blog-article h2 span {
    font-family: "Playfair Display", serif;
}

.blog-detail {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;

}

.blog-article p {
  font-size: 16px;
  color: #121418;
  line-height: 1.6;
  margin-bottom: 10px;
}

.blog-article a {
  color: #121418;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.blog-article a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .blog {
    grid-template-columns: 100%;
  }

  .blog-part {
    display: none;
  }
}
